*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-destaque: #245D51;
    --cor-secundaria: #CB8461;
    --cor-texto-claro: #2C2C2C;
    --cor-de-fundo: #F7FAF9;
    --cor-clara: #FFFFFF;
}

img{
    max-width: 100%;
    display: block;
}

body{
    font-family: "Cabin",sans-serif;
    background-color: var(--cor-de-fundo);
}

.versao-computador{
    display: none;
}

header{
    background-color: var(--cor-destaque);
    color: var(--cor-clara);
}

.versao-celular{
    display: flex;
    height: 9.5rem;
    width: 87%;
    margin: 0 auto;
    justify-content:space-between ;
    align-items:center;
}

.tela-inicial{
    background-color: var(--cor-destaque);
    background-image: url("/recursos/Fundo-celular/fundo-tela-inicial-celular.png");
    background-repeat: no-repeat;
    background-position:0 62vw;
    height: 65em;
    position: absolute;
}

.conteudo-tela-inicial{
    width: 87%;
    margin: 0 auto;
}

.notificacao{
    display: flex;
    align-self: center;
    color: var(--cor-clara);
    font-size: 13.96px;
    height: 33px;
}

.conteudo-notificacao p {
    font-weight:100;
}

.fundo-notificacao{
    background-color: #F2E7DB;
    height: 33px;
    border-radius: 50rem;
    width: 17.8rem;
    opacity: 50%;
    position:absolute;
    z-index: 0;
}

.conteudo-notificacao{
    display: flex;
    align-items:center;
    z-index: 99;
    gap: 5.5px;
    margin-bottom: 1px;
}

.marcacao-notificacao{
    display:flex ;
    margin-left: 0.3em;
    margin-top: 1px;
    background-color: var(--cor-secundaria);
    width: 48px;
    height: 24px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.marcacao-notificacao p{
    margin-bottom: 1px;
    font-weight: 100;
}

.titulo-tela-inicial{
    color:var(--cor-clara);
    margin-top: 5.5vw;
    font-size: 1.83em ;
    line-height: 4.2rem;
    letter-spacing: 0.3px;
}

.titulo-tela-inicial h2{
    font-weight: 600;
}

.texto-tela-inicial p{
    width: 90%;
    margin-top: 1.8vh;
    font-size: 16px;
    line-height: 28px;
    color: var(--cor-de-fundo);
    opacity: 50%;
    font-weight: 100;
}

.botoes{
    display: flex;
    align-items: center;
    color: var(--cor-clara);
    margin-top: 10vw;
}

.botoes img{
    max-width: 90%;
}

.botao-iniciar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 50px;
    background-color: var(--cor-secundaria);
    border-radius: 8px ;
}

.botao-aprenda-mais{
    display: flex;
    align-items: center;
    margin-left: 25px;
    gap:10px;
}

.imagem-tela-inicial{
    max-width: 100%;
    margin-top: 10vw;
    margin-left:-2vw;
    height: 50vw;
}

.imagem-tela-inicial img{
    display: flex;
    position: absolute;
}

.parcerias{
    display: flex;
    margin: 0 auto;
    background-color: var(--cor-clara);
    width: 91%;
    height: 100vw;
    position: relative; 
    top: 59em;
    border-radius: 8px;
    overflow: hidden;
}

.conteudo-parcerias{
    margin-top: 1.68rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    font-size: 14px;
}

.conteudo-parcerias p{
    color: var(--cor-texto-claro);
    opacity: 50%;
}

.informacoes-parcerias p{
    margin-top: 5vw;
}

.avaliacoes{
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    gap:5vw;
}

.estrelas{
    display: flex;
    justify-content: space-between;
    width: 6.9rem;
    max-width: 120%;
}

.empresas{
    display:grid;
    grid-template-columns: 1fr 0.4fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 3vw;
    row-gap: 3vw;
    padding-top: 10vw;
    margin: 0 auto;
}

.duolingo{
    max-width: 100%;
    margin-left: 4vw;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 1;
}

.plural{
    max-width: 40%;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
}

.talent{
    grid-column-start: 1;
    grid-column-end:3;
    grid-row-start: 2;
    align-self:center;
}

.udemy{
    max-width: 90%;
    margin-left: 4vw;
    grid-column-start: 3;
    grid-row-start: 2;
    align-self: center;
}

.coursera{
    margin-left: 3vw;
    max-width: 80%;
    grid-column-start: 2;
    grid-column-end:4;
    grid-row-start: 1;
    align-self: center;
}

.informacoes{
    width: 87%;
    padding-top: 65em;
    margin: 0 auto;
}

.texto-informacoes{
    color: var(--cor-texto-claro);
}

.texto-informacoes h2{
    margin-top: 9vw;
    line-height: 13.5vw;
}

.texto-informacoes p{
    margin-top:5vw;
    line-height: 7.5vw;
    opacity: 50%;
}

.fundo-icones{
    opacity: 10%;
    display: flex;
    width: 40px;
    height: 40px;
    background-color: var(--cor-secundaria);
    border-radius: 50px;
}

.icones{
    color: var(--cor-texto-claro);
    position: relative;
    display: flex;
    align-items: center;
    right:8.1vw;
    gap:7vw;
}

.secao-icones{
    display: flex;
    margin-top: 4vw;
}

.topicos{
    margin-top: 8vw;
}

.icones img{
    max-width: 12%;
}

.botao-explorar{
    display: flex;
    margin-top: 12vw;
    color:var(--cor-clara);
    width: 145px;
    height: 50px;
    background-color: var(--cor-destaque);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.cursos{
    width: 87%;
    margin: 0 auto;
    color: var(--cor-texto-claro);
}

.Valores{
    width: 87%;
    margin: 0 auto;
}

.titulo-cursos{
    margin-top: 24vw;
}

.fundo{
    width: 54px;
    height: 54px;
    background-color: var(--cor-secundaria);
    border-radius: 10vw;
    position: relative;
}

.setas{
    display:flex;
    position: relative;
    top: 10.5vw;
    z-index: 99;
    gap:12.5vw;
    margin-left: 3vw;
}

.fundo-seta{
    display: flex;
    gap:4vw;
}

.esquerdo{
    background-color: #F3F3F3;
}

.direito{
    box-shadow: 0px 6px 10px 0.2px #f0c0a9;
}

.setas-carrossel{
    width: 40%;
    margin: 0 auto;
    padding-top: 10VW;
}

.cartao {
    background-color: var(--cor-clara);
    border-radius: 10px;
    height: 392px;
    color:var(--cor-texto-claro)
}

.titulo-cartoes h4{
    font-size: 18px;
}

#preco{
    color: var(--cor-secundaria);
    font-size:22px;
}

.imagem-cartoes{
    display: flex;
    max-width: 90%;
    max-height:55vw;
    justify-self: center;
    padding-top:4vw;
}

.categoria{
    font-size: 10px;
    display: flex;
    padding: 0 2rem;
    height: 28px;
    border-radius: 3px;
    color:#CB8461;
    position: relative;
    z-index: 1;
    right:10.5em;
    top: 1em;
    background-color: #FAF3EF;
    align-items: center;
    justify-content: center;
}

.informacoes-cartoes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap:6vw;
    width: 90%;
    margin: 0 auto;
    padding-top: 6vw;
}

.estrela-cartoes{
    display: flex;
    max-height: 60%;
    justify-content: flex-end;
}

.botao-cartoes{
    display: flex;
    color: var(--cor-clara);
    font-size: 12px;
    background-color: var(--cor-destaque);
    justify-content: center;
    align-items: center;
    width: 85px;
    height: 32px;
    border-radius: 4px;
    margin-left: 15vw;
}

.melhor-escolha{
    color: var(--cor-destaque);
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;
}

.melhor-escolha p{
    position: relative;
    z-index: 1;
    right: 3vw;
}

.fundo-icone-cartao{
    background-color: var(--cor-destaque);
    width: 32px;
    height: 32px;
    border-radius: 50vw;
    opacity: 10%;
    position: relative;
    z-index: 0;
}

.icone-cartoes{
    position: relative;
    z-index: 1;
    right: 7.5vw;
}

.conteudo-cursos{
    display: grid;
    grid-template-rows: 0.4fr 1fr 0.5fr;
}

.cartoes{
    grid-row-start: 2;
    padding-top: 1vw;
}

.flutter{
    display: none;
}
.design{
    display: none;
}

.titulo-valores{
    font-size: 15.8px;
    text-align: center;
    line-height: 12vw;
    color: var(--cor-texto-claro);
}

.tempo-de-plano{
    margin-top: 11.5vw;
    background-color: #F8F3ED;
    border-radius: 6px;
    height: 277px;
    overflow: hidden;
}

.mes-ou-ano{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    padding-top:3vw;
    font-size: 11px;
    color: var(--cor-destaque);
    width: 140px;
}

.mes-ou-ano p{
    margin-right: 3vw;
}

.fundo-mes-ano{
    position:absolute;
    z-index: 0;
    width: 136px;
    height: 35px;
    background-color: var(--cor-destaque);
    border-radius: 8px;
    opacity: 17%;
}

.mes{
    display: flex;
    justify-content: center;
    color: var(--cor-clara);
    display: flex;
    width: 75px;
    height: 28px;
    align-items: center;
    background-color: var(--cor-destaque);
    border-radius: 6px;
    margin-right: 3vw;
    box-shadow: 0px 0px 15px 3px rgb(36, 93, 81, 50%)
}

.vantagens{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    font-size: 9px;
    margin-top: 2vw;
    color: var(--cor-texto-claro);
}

.conteudo-vantagens{
    justify-content: space-between;
    display: flex;
    margin-top: 5.5vw;
    padding-bottom: 1vw;
    border-bottom:solid 0.5px rgb(52, 124, 109, 15%);
    border-bottom-style: dashed;
}

.sem-borda{
    border:none;
}

.conteudo-vantagens img{
    max-width: 5%;
    position: relative;
}

.elementos{
    display: flex;
    justify-content: space-between;
    height:5%;
}

.elementos img{
    max-width: 60%;
}

.forma-direita{
    left: 5.5em;
    bottom: 2.5em;
}

.formas{
    position: relative;
    z-index: 0;
}

.planos{
    margin-top: 7.2vw;
}

.conteudo-plano{
    display: flex;
    background-color: var(--cor-destaque);
    height: 3.85em;
    border-radius: 6px;
    color:var(--cor-clara);
    justify-content: space-around;
    align-items: center;
    gap:4em;
}

.plano{
    display: flex;
}

.preco-plano{
    display: flex;
    align-items: baseline;
    gap:0.2em;
}

.preco-plano p{
    font-size: 8px;
    opacity: 60%;
}

.preco-plano h3{
    font-size: 22px;
}

.informacoes-plano{
    display: flex;
    align-items: center;
    gap:0.5rem;
}

.informacoes-plano img{
    max-width: 55%;
}

.informacoes-plano h5{
    font-size: 12px;
    font-weight: 100;
}

.informacoes-plano p {
    margin-top: 0.5em;
    font-size: 8px;
    font-weight: 100;
    padding:0.5em 1em;
    background-color: #42756A;
    opacity: 60%;
    border-radius: 8px;
}