*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-destaque: #245D51;
    --cor-secundaria: #CB8461;
    --cor-texto-claro: #2C2C2C;
    --cor-de-fundo: #F7FAF9;
    --cor-clara: #FFFFFF;
}

.cabin-condensed-regular {
  font-family: "Cabin Condensed", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.cabin-condensed-medium {
  font-family: "Cabin Condensed", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.cabin-condensed-semibold {
  font-family: "Cabin Condensed", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.cabin-condensed-bold {
  font-family: "Cabin Condensed", sans-serif;
  font-weight: 700;
  font-style: normal;
}


body{
    font-family: "Cabin Condensed",sans-serif;
}

.versao-computador{
    display: none;
}

header{
    background-color: var(--cor-destaque);
    color: var(--cor-clara);
    font-family: "Cabin Condensed",sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.versao-celular{
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 86%;
    margin: 0 auto;
    padding-top: 3.3rem;
}

img{
    max-width: 100%;
}

.logo{
    display: flex;
    align-items:center;
    gap:0.6rem;
}

.simbolo-e{
    display:flex;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: var(--cor-secundaria);
}