*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-destaque: #245D51;
    --cor-secundaria: #CB8461;
    --cor-texto-claro: #2C2C2C;
    --cor-de-fundo: #F7FAF9;
    --cor-clara: #FFFFFF;
}

img{
    max-width: 100%;
    display: block;
}

body{
    font-family: "Cabin",sans-serif;
    background-color: var(--cor-de-fundo);
}

.versao-computador{
    display: none;
}

header{
    background-color: var(--cor-destaque);
    color: var(--cor-clara);
}

.versao-celular{
    display: flex;
    height: 9.5rem;
    width: 87%;
    margin: 0 auto;
    justify-content:space-between ;
    align-items:center;
}

.tela-inicial{
    background-color: var(--cor-destaque);
    background-image: url("/recursos/Fundo-celular/fundo-tela-inicial-celular.png");
    background-repeat: no-repeat;
    background-position:0 26.9vh;
    height: 119.5vh;
    position: absolute;
}

.conteudo-tela-inicial{
    width: 87%;
    margin: 0 auto;
}

.notificacao{
    display: flex;
    align-self: center;
    color: var(--cor-clara);
    font-size: 13.96px;
    height: 33px;
}

.conteudo-notificacao p {
    font-weight:100;
}

.fundo-notificacao{
    background-color: #F2E7DB;
    height: 33px;
    border-radius: 50rem;
    width: 17.8rem;
    opacity: 50%;
    position:absolute;
    z-index: 0;
}

.conteudo-notificacao{
    display: flex;
    align-items:center;
    z-index: 99;
    gap: 5.5px;
    margin-bottom: 1px;
}

.marcacao-notificacao{
    display:flex ;
    margin-left: 0.3em;
    margin-top: 1px;
    background-color: var(--cor-secundaria);
    width: 48px;
    height: 24px;
    border-radius: 25px;
    justify-content: center;
    align-items: center;
}

.marcacao-notificacao p{
    margin-bottom: 1px;
    font-weight: 100;
}

.titulo-tela-inicial{
    color:var(--cor-clara);
    margin-top: 2.2vh;
    font-size: 1.83em ;
    line-height: 7.65vh;
    letter-spacing: 0.3px;
}

.titulo-tela-inicial h2{
    font-weight: 600;
}

.texto-tela-inicial p{
    width: 90%;
    margin-top: 1.8vh;
    font-size: 16px;
    line-height: 28px;
    color: var(--cor-de-fundo);
    opacity: 50%;
    font-weight: 100;
}

.botoes{
    display: flex;
    align-items: center;
    color: var(--cor-clara);
    margin-top: 4.5vh;
}

.botoes img{
    max-width: 90%;
}

.botao-iniciar{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 50px;
    background-color: var(--cor-secundaria);
    border-radius: 8px ;
}

.botao-aprenda-mais{
    display: flex;
    align-items: center;
    margin-left: 25px;
    gap:10px;
}

.imagem-tela-inicial{
    max-width: 100%;
    margin-top: 4.2vh;
    margin-left:-2vw;
    height: 50vh;
}

.imagem-tela-inicial img{
    display: flex;
    bottom: 0.vh;
    position: absolute;
}

.parcerias{
    display: flex;
    margin: 0 auto;
    background-color: var(--cor-clara);
    width: 91%;
    height: 42.5vh;
    position: relative; 
    top: 110vh;
    border-radius: 8px;
    overflow: hidden;
}

.conteudo-parcerias{
    margin-top: 1.68rem;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    font-size: 14px;
}

.conteudo-parcerias p{
    color: var(--cor-texto-claro);
    opacity: 50%;
}

.informacoes-parcerias p{
    margin-top: 2vh;
}

.avaliacoes{
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    gap:2vh;
}

.estrelas{
    display: flex;
    justify-content: space-between;
    width: 6.9rem;
    max-width: 120%;
}

.empresas{
    display:grid;
    grid-template-columns: 1fr 0.4fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 3vw;
    row-gap: 3vw;
    padding-top: 5vh;
    margin: 0 auto;
}

.duolingo{
    max-width: 100%;
    margin-left: 4vw;
    align-self: center;
    grid-column-start: 1;
    grid-column-end: 1;
}

.plural{
    max-width: 40%;
    grid-column-start: 1;
    grid-column-end: 4;
    justify-self: center;
}

.talent{
    grid-column-start: 1;
    grid-column-end:3;
    grid-row-start: 2;
    align-self:center;
}

.udemy{
    max-width: 90%;
    margin-left: 4vw;
    grid-column-start: 3;
    grid-row-start: 2;
    align-self: center;
}

.coursera{
    margin-left: 3vw;
    max-width: 80%;
    grid-column-start: 2;
    grid-column-end:4;
    grid-row-start: 1;
    align-self: center;
}

.informacoes{
    width: 87%;
    padding-top: 120vh;
    margin: 0 auto;
}

.texto-informacoes{
    color: var(--cor-texto-claro);
}

.texto-informacoes h2{
    margin-top: 6vh;
    line-height: 5vh;
}

.texto-informacoes p{
    margin-top:2.5vh;
    line-height: 3.2vh;
    opacity: 50%;
}

.fundo-icones{
    opacity: 10%;
    display: flex;
    width: 40px;
    height: 40px;
    background-color: var(--cor-secundaria);
    border-radius: 50px;
}

.icones{
    color: var(--cor-texto-claro);
    position: relative;
    display: flex;
    align-items: center;
    right:8.1vw;
    gap:7vw;
}

.secao-icones{
    display: flex;
    margin-top: 1.9vh;
}

.topicos{
    margin-top: 4vh;
}

.icones img{
    max-width: 12%;
}

.botao-explorar{
    display: flex;
    margin-top: 5vh;
    color:var(--cor-clara);
    width: 145px;
    height: 50px;
    background-color: var(--cor-destaque);
    border-radius: 8px;
    justify-content: center;
    align-items: center;
}

.cursos{
    width: 87%;
    margin: 0 auto;
    color: var(--cor-texto-claro);
}

.Valores{
    width: 87%;
    margin: 0 auto;
}

.titulo-cursos{
    margin-top: 10.5vh;
}

.fundo{
    width: 54px;
    height: 54px;
    background-color: var(--cor-secundaria);
    border-radius: 10vw;
    position: relative;
}

.setas{
    display:flex;
}

.fundo-seta{
    display: flex;
    gap:4vw;
}

.esquerdo{
    background-color: #F3F3F3;
}

.direito{
    box-shadow: 1px 1px 1px 1px var(--cor-secundaria);
}